<section class="u-align-center u-clearfix u-section-1" id="sec-fdfe">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Панель администратора</h2>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                        <span class="u-file-icon u-icon u-spacing-20 u-text-black u-icon-1"><img src="homepageNew/images/5.png" alt=""></span>
                        <h2 class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-2"><a href="/categories">Настройка категорий</a></h2>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                        <span class="u-file-icon u-icon u-spacing-20 u-text-black u-icon-2"><img src="homepageNew/images/6.png" alt=""></span>
                        <h2 class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-3"><a href="/products">Настройка продуктов</a></h2>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                        <span class="u-file-icon u-icon u-spacing-20 u-icon-3"><img src="homepageNew/images/2127847.png" alt=""></span>
                        <h2 class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-4"><a href="/transactions">История покупок</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
