@page "/customerservice"

<body class="u-body u-xl-mode">
    <section class="u-align-center u-black u-clearfix u-section-1" id="sec-d10a">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h1 class="u-text u-text-1">Нам важно ваще мнение!</h1>
        </div>
    </section>
    <section class="u-clearfix u-white u-section-2" id="sec-c8fe">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h3 class="u-custom-font u-font-oswald u-text u-text-1"> Клиентская служба</h3>
            <p class="u-text u-text-2"> Предложения, претензии, вопросы</p>
            <p class="u-text u-text-3"> Если у Вас есть предложения, пожелания или претензии к работе магазина СПОРТИМ, пожалуйста, воспользуйтесь любым из предложенных способов оперативной связи с Клиентской поддержкой нашей торговой сети.</p>
            <p class="u-text u-text-4">
                Информационный центр:&nbsp; +375 (33) 903-30-78 (Звонок платный)
                <br>E-mail:&nbsp;<a href="mailto:support@sportmaster.by"
                                    class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">admin </a>
                <span class="u-text-palette-1-base">test.com</span>
            </p>
            <p class="u-text u-text-5">Мы рассмотрим Ваши предложения и пожелания и примем адекватные меры по исправлению недостатков и улучшению нашей работы.</p>
        </div>
    </section>
</body>

@code {

}
