@page "/service"

    <body class="u-body u-xl-mode">
        <section class="u-align-center u-black u-clearfix u-section-1" id="sec-1cda">
            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                <h1 class="u-text u-text-1">Заботимся не только о ваших мышцах, но и о вашем ментальном здоровье!</h1>
            </div>
        </section>
        <section class="u-clearfix u-section-2" id="sec-b317">
            <div class="u-clearfix u-sheet u-sheet-1">
                <h2 class="u-custom-font u-font-oswald u-text u-text-1"> Специализированный сервисный центр «СПОРТИМ» – это:</h2>
                <ul class="u-custom-font u-custom-list u-font-oswald u-text u-text-2">
                    <li>
                        <div class="u-list-icon">
                            <svg class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-5203">
                                <path d="M37.059,16H26V4.941C26,2.224,23.718,0,21,0s-5,2.224-5,4.941V16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16v11.059
	C16,39.776,18.282,42,21,42s5-2.224,5-4.941V26h11.059C39.776,26,42,23.718,42,21S39.776,16,37.059,16z"></path>
                            </svg>
                        </div> ЛЮДИ&nbsp;- команда экспертов международного уровня.&nbsp;СПОРТИМ предоставляет полный спектр услуг по обслуживанию и ремонту любого спортивного инвентаря;
                    </li>
                    <li>
                        <div class="u-list-icon">
                            <svg class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-5203">
                                <path d="M37.059,16H26V4.941C26,2.224,23.718,0,21,0s-5,2.224-5,4.941V16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16v11.059
	C16,39.776,18.282,42,21,42s5-2.224,5-4.941V26h11.059C39.776,26,42,23.718,42,21S39.776,16,37.059,16z"></path>
                            </svg>
                        </div> ОБОРУДОВАНИЕ&nbsp;– уникальное профессиональное оборудование, позволяет нам производить любые виды ремонта горных лыж и сноубордов с учётом ваших индивидуальных требований. Нанесение структуры на скользящие поверхности, заточка кантов - это далеко не полный список услуг центров&nbsp;СПОРТИМ;
                    </li>
                    <li>
                        <div class="u-list-icon">
                            <svg class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-5203">
                                <path d="M37.059,16H26V4.941C26,2.224,23.718,0,21,0s-5,2.224-5,4.941V16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16v11.059
	C16,39.776,18.282,42,21,42s5-2.224,5-4.941V26h11.059C39.776,26,42,23.718,42,21S39.776,16,37.059,16z"></path>
                            </svg>
                        </div> ЗАПЧАСТИ&nbsp;– расходные материалы (клеи, смазки и т.п.) высокого профессионального уровня, оригинальные запасные части для различного спортивного инвентаря;
                    </li>
                    <li>
                        <div class="u-list-icon">
                            <svg class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-5203">
                                <path d="M37.059,16H26V4.941C26,2.224,23.718,0,21,0s-5,2.224-5,4.941V16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16v11.059
	C16,39.776,18.282,42,21,42s5-2.224,5-4.941V26h11.059C39.776,26,42,23.718,42,21S39.776,16,37.059,16z"></path>
                            </svg>
                        </div>ЦЕНЫ&nbsp;– доступные для всех. Бесплатная установка и настройка креплений при покупке инвентаря.
                    </li>
                </ul>
            </div>
        </section>
        <section class="u-clearfix u-section-3" id="carousel_efc0">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-container-style u-group u-group-1">
                    <div class="u-container-layout u-container-layout-1">
                        <h2 class="u-align-center u-text u-text-1">Вы можете навести нас!</h2>
                        <p class="u-align-center u-text u-text-2">Распположение главного офиса:</p>
                    </div>
                </div>
                <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-col">
                            <div class="u-size-60">
                                <div class="u-layout-col">
                                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-right-cell u-shape-rectangle u-size-60 u-layout-cell-1">
                                        <div class="u-container-layout u-container-layout-2">
                                            <div class="u-align-left u-expanded u-grey-10 u-map">
                                                <div class="embed-responsive">
                                                    <iframe class="embed-responsive-item" src="//maps.google.com/maps?output=embed&amp;q=%D0%91%D1%80%D0%B5%D1%81%D1%82%D1%81%D0%BA%D0%B8%D1%85%20%D0%B4%D0%B5%D0%B2%D0%B8%D0%B7%D0%B8%D0%B9%2012&amp;z=17&amp;t=m" data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWFkZHJlc3MlMjIlMkMlMjJhZGRyZXNzJTIyJTNBJTIyJUQwJTkxJUQxJTgwJUQwJUI1JUQxJTgxJUQxJTgyJUQxJTgxJUQwJUJBJUQwJUI4JUQxJTg1JTIwJUQwJUI0JUQwJUI1JUQwJUIyJUQwJUI4JUQwJUI3JUQwJUI4JUQwJUI5JTIwMTIlMjIlMkMlMjJ6b29tJTIyJTNBMTclMkMlMjJ0eXBlSWQlMjIlM0ElMjJyb2FkJTIyJTJDJTIybGFuZyUyMiUzQW51bGwlMkMlMjJhcGlLZXklMjIlM0FudWxsJTJDJTIybWFya2VycyUyMiUzQSU1QiU1RCU3RA=="></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    @code {

    }
